* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 body{
     display: flex;
     flex-direction: column;
     min-height: 100vh;
     align-items: center;
     justify-content: center;
 }
 
 
 button {

    font-size: 16px;
        padding: 11px 46px;
        letter-spacing: 1px;
        text-align: center;
        text-transform: uppercase;
        color: white;
        background: #ff7e12;
        border: none;
        border-radius: 6px;
        outline: none;
        margin-top: 20px;
		height: 48px;
    
       
    }
	#password{
		font-size: 27px;
    padding: 10px 20px;
    letter-spacing: 1px;
    color: red;
	text-align:center;
    border-radius: 10px;
    border:1px solid navy;
	}

 